.btn {
  background: $color-primary;
  padding: 15px 30px;
  color: white;
  outline: none;
  border: none;
  display: table;
  overflow: hidden;
  position: relative;
  margin: auto;
  min-width: 190px;
  cursor: pointer;
  font-weight: 600;
  @include borderRadius(40px);
  @include transition(0.3s);
  &.border {
    color: inherit;
    background: inherit;
    border: 1px solid $color-primary;
  }
  &::before {
    content: "";
  }
}
