$color-primary: #ff5a60;
$color-secondary: #1d3455;

$transition-speed: 2s;

$icomoon-font-family: "takhfifan" !default;
$icomoon-font-path: "fonts" !default;

$t-apple: "\e900";
$t-bazaar: "\e901";
$t-google: "\e902";
$t-sibapp: "\e903";
